/* Utilisation de la police "Roboto" */
body {
    font-family: 'Roboto', sans-serif;
}

/* Style de la table */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

th,
td {
    text-align: center;
    padding: 12px;
    border: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

/* Style des liens */
a {
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #f44336;
}

/* Style des messages d'état et d'erreur */
.etat {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

.error {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
}

/* Classe de centrage */
.center {
    margin: 0 auto;
}

/* Style de l'en-tête */
header {
    background-color: #f2f2f2;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin: 0;
}

/* Style du pied de page */
footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}
